{$this->header}


<div id=app></div>
<script>
  var globals = {
    userID: $userID,
    selectOptionsFachschaften: $selectOptionsFachschaften,
    selectOptionsKlassenteams: $selectOptionsKlassenteams,
    selectOptionsKlassenleitung: $selectOptionsKlassenleitung,
    selectOptionsSchueler: $selectOptionsSchueler,
    selectOptionsSchuelerOwnUnterricht: $selectOptionsSchuelerOwnUnterricht
  }
  
</script>
<script src=components/msg/dist/js/chunk-vendors.js></script>
<script src=components/msg/dist/js/app.js></script>


  <script>
    // $(function () { });
  </script>

<style>

.content-wrapper{
  overflow-x: none;
  overflow-y: scroll;
  font-size: 100% !important;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list {
  
}
.list .folders {
  background-color: #8aa4af;
}
.list .folders button {
  width: 100%;
}

.list .gridtemplate {
  overflow-x: none;
  overflow-y: scroll;
  height: 75vh;
  max-height: 75vh;
}

.list.height_35,
.list.height_35 .gridtemplate {
  height: 35vh;
  max-height: 35vh;
}




.preview {
  height: 25vh;
  max-height: 25vh;
}
.preview .bar {
  background-color: rgb(201, 210, 219);
}

.messages table {
  width: 100%;
  margin-bottom: 4rem;
}
.messages table thead td {
  cursor: ns-resize;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  font-weight: bold;
  background-color: rgb(201, 210, 219);
}

.messages table tbody td {
  
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.messages table tr:nth-child(even){
  background-color: #fff;
}
.messages table tbody td span {
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}



.message .head {
  padding: 2rem;
  background-color: #f4f4f4;
}
.message .head label{
  width: 6rem;
}

.message .body {
  padding: 4rem;
  background-color: #fff;
  padding-bottom: 20vh;
}



/*
* FormRecipient.vue
*/

.form-recipients button {
  background-color: rgba(255,255,255,0);
  
  border-radius: 0;
  border-bottom: 1px solid #738b96;
  color: #000;

  
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: auto 50%;

}

.form-recipients button.chevron {
  background-image: url('cssjs/icons/chevron_grey.svg') !important;
}

.form-recipients button:hover {
  background-color: rgba(255,255,255,0);
  color: #3c8dbc;
}

.form-recipients button.active {
  background-color: #8aa4af;
  color: #fff;

  background-image: url('cssjs/icons/chevron_white.svg') !important;

}

.form-recipients button.selected {
  background-color: #00a65a;
  color: #fff;
}


.form-recipients .scroll {
  overflow-y: auto;
}

</style>

{$this->footer}